<template name="postsIndexTemplate">
	<h1 id="content-title">Posts  <a href="#" class="button">Add New</a></h1>

	<div class="content-row">

		<div class="row-entries">
			<table>
				<tr>
					<th>Title</th>
					<th>Slug</th>
					<th>Date</th>
					<th>Status</th>
				</tr>

				<tr>
					<td><a href="/posts/postid">Post Title</a></td>
					<td><span class="has-slug">/blog/post-title/</span></td>
					<td>6-28-2017</td>
					<td><span class="has-status published">Published</span></td>
				</tr>
			</table>
		</div>

	</div><!-- e: content row, entries -->


	<div class="content-row">
		<ul class="row-navigation">
			<li><a href="#">&laquo; Previous</a></li>
			<li><a href="#">Next &raquo;</a></li>
		</ul>
	</div>
</template>