html, body{
	position: relative;
	font-size: 10px;
	background: #fafafa;
	color: #333333;
	.av;
}

.inner{
	position: relative;
	margin: auto;
	max-width: 960px;

	&:after{
		.clear;
	}
}

#header{
	position: relative;
}



