#app-admin-nav{

	li{
		float: left;
		padding-right: 20px;
	}

	a{
		float: left;
		.true(60px);
		font-size: 1.5rem;
	}
}


.content-row{
	overflow: hidden;
	.settings-group{
		float: left;
		width: 48%;
		clear: both;

		&:nth-of-type(even){
			float: right;
			clear: none;
		}
	}
}