<template name="templatesIndexTemplate">
	<h1 id="content-title">Templates <a href="#" class="button">Add New</a></h1>

	<div class="content-row">

		<div class="row-entries">
			<table>
				<tr>
					<th>Template Name</th>
					<th>Date Created</th>
					<th>Action</th>
				</tr>

				<tr>
					<td><a href="/templates/templateid">Template Title</a></td>
					<td>6-28-2017</td>
					<td><a href="#">Edit</a> | <a href="#">Delete</a></td>
				</tr>
			</table>
		</div>

	</div><!-- e: content row, entries -->


	<div class="content-row">
		<ul class="row-navigation">
			<li><a href="#">&laquo; Previous</a></li>
			<li><a href="#">Next &raquo;</a></li>
		</ul>
	</div>
</template>