<template name="headerPartial">
	<header id="app-header">

		<div id="app-user-nav">
			<div class="app-inner">
				<strong id="app-logo"><a href="http://indieup.co">IndieUp</a></strong>

				<ul>
					<li><a href="/settings/">Settings</a></li>
					<li><a href="/account/">Account</a></li>
					<li><a href="/logout/">Logout</a></li>
				</ul>
			</div>
		</div>

		<div id="app-admin-nav">
			<div class="app-inner">
				<ul>
					<li><a href="/">Dash</a></li>
					<li><a href="/pages/">Pages</a></li>
					<li><a href="/posts/">Posts</a></li>
					<li><a href="/templates/">Templates</a></li>
					<li><a href="/tooling/">Tooling</a></li>
				</ul>
			</div>
		</div>

	</header>
</template>