<template name="loginTemplate">
	<h1 id="content-title">Login</h1>


	<div id="account">
		<div id="login-area">

			<div class="content-row">
				<div class="settings-group">
					<div class="settings-group-item">
						<label>Account Login</label>
						<input type="text" placeholder="email address" />
						<input type="password" placeholder="password" />
						<a href="#" class="button full">Login</a><br />
						<p>Forget your password? <a href="#">Reset it!</a></p>
					</div>
				</div>
			</div>

		</div><!-- e: account content -->
	</div><!-- e: blog editor -->
</template>