<template name="dashTemplate.html">
	<h1 id="content-title">Dashboard</h1>

	<div class="content-row">

		<div class="row-article">
			<h2>Welcome to indieUp!</h2>
			<p>
				Checkout the links below to get you started.
			</p>

			<div class="row-col tri">
				<h3>Getting Started</h3>
				<ul>
					<li><a href="#">Learn about our Page Builder</a></li>
					<li><a href="#">The power of Templates</a></li>
					<li><a href="#">Customizing your Theme</a></li>
				</ul>
			</div>

			<div class="row-col tri">
				<h3>Take action</h3>
				<ul>
					<li><a href="#">Edit your home page</a></li>
					<li><a href="#">Create a new page</a></li>
					<li><a href="#">Write a new blog post</a></li>
				</ul>
			</div>

			<div class="row-col tri">
				<h3>Need help?</h3>
				<ul>
					<li><a href="#">Get in touch with us</a></li>
					<li><a href="#">Find us on Twitter</a></li>
					<li><a href="#">Join the community forum</a></li>
				</ul>
			</div>
		</div>

	</div><!-- e: content row, welcome -->


	<div class="content-row">

		<div class="row-article">
			<h2>Developer Tweets</h2>
			<div class="row-col tri">
				<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Ya&#39;ll going to love the wrench.</p>&mdash; STRAFE® (@Strafegame) <a href="https://twitter.com/Strafegame/status/748973936403030017">July 1, 2016</a></blockquote>
			</div>
			<div class="row-col tri">
				<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">they added a bunch of features that would be way more useful if they also added reflection but they didnt</p>&mdash; Tyler Glaiel (⌐■_■) (@TylerGlaiel) <a href="https://twitter.com/TylerGlaiel/status/748970958338174976">July 1, 2016</a></blockquote>
			</div>
			<div class="row-col tri">
				<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If you&#39;re at <a href="https://twitter.com/hashtag/RTX?src=hash">#RTX</a> play LawBreakers at the Twitch booth - booth #479, and tweet me feedback.</p>&mdash; Cliff Bleszinski (@therealcliffyb) <a href="https://twitter.com/therealcliffyb/status/748951864868241408">July 1, 2016</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
</template>